// LESS Color Variables

@teal-dark: #80F5D2;
@teal-light: #128079;
@red-dark: #F85640;
@red-light: #B14334;
@yellow-dark: #E3973E;
@yellow-light: #A96311;
@blue-dark: #36ADE0;
@blue-light: #2B5BD7;
@blue-2-dark: #72D5FF;
@cyan: #00F2EA;
@pink-dark: #EB7777;
@pink-light: #C22571;
@purple-dark: #C57BFF;
@purple-light: #5E3BEC;
@lavender-dark: #BE99FF;
@lavender-light: #5E3BEC;
@navy: #233A4A;
@dark-navy: #14252E;
@black: #000;
@white: #FFF;

@video-editor: #FF5151;
@podcast-editor: #5EE57C;
@link-space: #FF9B4A;
@talk-studio: #45D2FF;
@cross-clip: #FF50A4;

@light-1: #ffffff;
@light-2: #F5F8FA;
@light-3: #E3E8EB;
@light-4: #BDC2C4;
@light-5: #91979A;

@dark-1: #050D12;
@dark-2: #09161D;
@dark-3: #17242D;
@dark-4: #2B383F;
@dark-5: #4F5E65;
