MYSQL_ROOT_PASSWORD=
MYSQL_USERNAME=root
MYSQL_PASSWORD=
MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
JWT_SECRET=
MAIL_USERNAME=
MAIL_PASSWORD=
OPENAI_API_KEY=
DEEPSEEK_API_KEY=
XIAOSHUIGUAN_API_KEY=
