// 主题色
$theme-pink: #fb7299;
$theme-pink-hover: #f5729a;
$bg-color: #f4f4f4;
$bg-white: #fff;
$text-primary: #18191c;
$text-secondary: #9499a0;
$text-third: #c0c0c0;
$border-color: #e3e5e7;
$header-height: 52px;
$tab-height: 52px;