@import './styles/colors';

:root,
.day-theme {
  --white: #fff;
  --black: #000;
  --primary: @teal-light;
  --teal: @teal-light;
  --teal-semi: fade(@teal-light, 8%);
  --teal-hover: lighten(@teal-light, 4%);
  --accent: @purple-light;
  --blue: @blue-light;
  --callout: @blue-dark;
  --callout-semi: fade(@blue-light, 8%);
  --callout-border: fade(@blue-light, 20%);
  --callout-hover: lighten(@blue-light, 4%);
  --callout-button-bg: fade(@blue-light, 36%);
  --warning: @red-light;
  --warning-semi: fade(@red-light, 8%);
  --warning-border: fade(@red-light, 20%);
  --warning-hover: lighten(@red-light, 4%);
  --warning-bg: fade(@red-light, 28%);
  --warning-button-bg: fade(@red-light, 36%);
  --info: @yellow-light;
  --info-semi: fade(@yellow-light, 8%);
  --info-border: fade(@yellow-light, 20%);
  --red: @red-light;
  --red-semi: fade(@red-light, 8%);
  --icon: @light-5;
  --icon-active: @teal-light;
  --icon-semi: fade(@light-5, 15%);
  --new-badge: fade(@purple-light, 15%);
  --new-badge-text: @purple-light;
  --info-badge: @dark-navy;
  --info-badge-text: @blue-dark;
  --beta-text: @purple-light;
  --badge: @purple-dark;
  --background: #ffffff;
  --dark-background: #ffffff;
  --section: #ffffff;
  --section-alt: #f6f7f8;
  --section-wrapper: #f6f7f8;
  --titlebar: #ffffff;
  --title: @dark-2;
  --titlebar-title: @dark-2;
  --paragraph: @dark-4;
  --border: #e3e5e7;
  --button: #eef0f2;
  --slider-bg: @dark-2;
  --action-button-text: @light-1;
  --button-hover: darken(@light-4, 8%);
  --link: @dark-5;
  --link-active: @dark-2;
  --input-bg: @light-1;
  --focus-border: darken(@light-4, 4%);
  --solid-input: @light-2;
  --dropdown-bg: @light-1;
  --dropdown-alt-bg: darken(@light-1, 4%);
  --checkbox: @dark-1;
  --midtone: @light-5;
  --nav-icon-inactive: @dark-4;
  --nav-divider: @dark-2;
  --nav-active: @teal-light;
  --slider-progress: @dark-5;
  --shadow: rgba(55, 71, 79, 0.12);
  --modal-overlay: rgba(0, 0, 0, 0.3);
  --studio-tabs: @light-2;
  --logged-in: @lavender-light;
  --tooltip-hover: @light-4;
  --modal-footer: #f6f7f8;
  --icon-toggle: @light-5;
  --icon-toggle-active: @light-1;
  --switch-active: @teal-light;
  --secondary-bg: @light-3;
  --secondary-checkbox: @dark-2;
  --bg-column: #ffffff;
  --card: #ffffff;
  --card-active: #f6f7f8;
  --card-disabled: #f6f7f8;
}

.night-theme {
  --background: #ffffff;
  --dark-background: #ffffff;
  --section: #ffffff;
  --section-alt: #f6f7f8;
  --section-wrapper: #f6f7f8;
  --titlebar: #ffffff;
  --titlebar-title: @dark-2;
  --title: @dark-2;
  --paragraph: @dark-4;
  --border: #e3e5e7;
  --button: #eef0f2;
  --button-hover: darken(@light-4, 8%);
  --link: @dark-5;
  --link-active: @dark-2;
  --input-bg: @light-1;
  --focus-border: darken(@light-4, 4%);
  --solid-input: @light-2;
  --dropdown-bg: @light-1;
  --dropdown-alt-bg: darken(@light-1, 4%);
  --checkbox: @dark-1;
  --midtone: @light-5;
  --nav-icon-inactive: @dark-4;
  --nav-divider: @dark-2;
  --nav-active: @teal-light;
  --slider-progress: @dark-5;
  --shadow: rgba(55, 71, 79, 0.12);
  --modal-overlay: rgba(0, 0, 0, 0.3);
  --studio-tabs: @light-2;
  --tooltip-hover: @light-4;
  --modal-footer: #f6f7f8;
  --secondary-bg: @light-3;
  --secondary-checkbox: @dark-2;
  --bg-column: #ffffff;
  --card: #ffffff;
  --card-active: #f6f7f8;
  --card-disabled: #f6f7f8;
}
