onlyBuiltDependencies[]=esbuild
onlyBuiltDependencies[]=@parcel/watcher
onlyBuiltDependencies[]=vue-demi
onlyBuiltDependencies[]=core-js
onlyBuiltDependencies[]=protobufjs
onlyBuiltDependencies[]=sharp
onlyBuiltDependencies[]=workerd
auto-install-peers=true
strict-peer-dependencies=false
